<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.admin.mapper.LotteryPrizeMapper">
  <resultMap id="BaseResultMap" type="com.group.admin.entity.LotteryPrize">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="lottery_id" jdbcType="VARCHAR" property="lotteryId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="prize_number" jdbcType="VARCHAR" property="prizeNumber" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="remaining" jdbcType="INTEGER" property="remaining" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="prize_type" jdbcType="VARCHAR" property="prizeType" />
    <result column="point_value" jdbcType="BIGINT" property="pointValue" />
    <result column="recycle_bonus" jdbcType="BIGINT" property="recycleBonus" />
    <result column="is_last_prize" jdbcType="TINYINT" property="isLastPrize" />
    <result column="is_grand_prize" jdbcType="TINYINT" property="isGrandPrize" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.group.admin.entity.LotteryPrize">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, lottery_id, name, image_url, level, prize_number, quantity, remaining, weight, 
    prize_type, point_value, recycle_bonus, is_last_prize, is_grand_prize, order_num, created_at, updated_at
  </sql>
  <sql id="Blob_Column_List">
    description, content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.group.admin.example.LotteryPrizeExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from `lottery_prize`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.group.admin.example.LotteryPrizeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from `lottery_prize`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from `lottery_prize`
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from `lottery_prize`
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.group.admin.example.LotteryPrizeExample">
    delete from `lottery_prize`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.group.admin.entity.LotteryPrize">
    insert into `lottery_prize` (id, lottery_id, name, 
      image_url, level, prize_number, 
      quantity, remaining, weight, 
      prize_type, point_value, recycle_bonus,
      is_last_prize, is_grand_prize, order_num, 
      created_at, updated_at, description, content
      )
    values (#{id,jdbcType=VARCHAR}, #{lotteryId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{imageUrl,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, #{prizeNumber,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=INTEGER}, #{remaining,jdbcType=INTEGER}, #{weight,jdbcType=INTEGER}, 
      #{prizeType,jdbcType=VARCHAR}, #{pointValue,jdbcType=BIGINT}, #{recycleBonus,jdbcType=BIGINT},
      #{isLastPrize,jdbcType=TINYINT}, #{isGrandPrize,jdbcType=TINYINT}, #{orderNum,jdbcType=INTEGER}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{description,jdbcType=LONGVARCHAR}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.group.admin.entity.LotteryPrize">
    insert into `lottery_prize`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="lotteryId != null">
        lottery_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="prizeNumber != null">
        prize_number,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="remaining != null">
        remaining,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="prizeType != null">
        prize_type,
      </if>
      <if test="pointValue != null">
        point_value,
      </if>
      <if test="recycleBonus != null">
        recycle_bonus,
      </if>
      <if test="isLastPrize != null">
        is_last_prize,
      </if>
      <if test="isGrandPrize != null">
        is_grand_prize,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="lotteryId != null">
        #{lotteryId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="prizeNumber != null">
        #{prizeNumber,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="remaining != null">
        #{remaining,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="prizeType != null">
        #{prizeType,jdbcType=VARCHAR},
      </if>
      <if test="pointValue != null">
        #{pointValue,jdbcType=BIGINT},
      </if>
      <if test="recycleBonus != null">
        #{recycleBonus,jdbcType=BIGINT},
      </if>
      <if test="isLastPrize != null">
        #{isLastPrize,jdbcType=TINYINT},
      </if>
      <if test="isGrandPrize != null">
        #{isGrandPrize,jdbcType=TINYINT},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.group.admin.example.LotteryPrizeExample" resultType="java.lang.Long">
    select count(*) from `lottery_prize`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update `lottery_prize`
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=VARCHAR},
      </if>
      <if test="row.lotteryId != null">
        lottery_id = #{row.lotteryId,jdbcType=VARCHAR},
      </if>
      <if test="row.name != null">
        name = #{row.name,jdbcType=VARCHAR},
      </if>
      <if test="row.imageUrl != null">
        image_url = #{row.imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="row.level != null">
        level = #{row.level,jdbcType=VARCHAR},
      </if>
      <if test="row.prizeNumber != null">
        prize_number = #{row.prizeNumber,jdbcType=VARCHAR},
      </if>
      <if test="row.quantity != null">
        quantity = #{row.quantity,jdbcType=INTEGER},
      </if>
      <if test="row.remaining != null">
        remaining = #{row.remaining,jdbcType=INTEGER},
      </if>
      <if test="row.weight != null">
        weight = #{row.weight,jdbcType=INTEGER},
      </if>
      <if test="row.prizeType != null">
        prize_type = #{row.prizeType,jdbcType=VARCHAR},
      </if>
      <if test="row.pointValue != null">
        point_value = #{row.pointValue,jdbcType=BIGINT},
      </if>
      <if test="row.recycleBonus != null">
        recycle_bonus = #{row.recycleBonus,jdbcType=BIGINT},
      </if>
      <if test="row.isLastPrize != null">
        is_last_prize = #{row.isLastPrize,jdbcType=TINYINT},
      </if>
      <if test="row.isGrandPrize != null">
        is_grand_prize = #{row.isGrandPrize,jdbcType=TINYINT},
      </if>
      <if test="row.orderNum != null">
        order_num = #{row.orderNum,jdbcType=INTEGER},
      </if>
      <if test="row.createdAt != null">
        created_at = #{row.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.updatedAt != null">
        updated_at = #{row.updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.description != null">
        description = #{row.description,jdbcType=LONGVARCHAR},
      </if>
      <if test="row.content != null">
        content = #{row.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update `lottery_prize`
    set id = #{row.id,jdbcType=VARCHAR},
      lottery_id = #{row.lotteryId,jdbcType=VARCHAR},
      name = #{row.name,jdbcType=VARCHAR},
      image_url = #{row.imageUrl,jdbcType=VARCHAR},
      level = #{row.level,jdbcType=VARCHAR},
      prize_number = #{row.prizeNumber,jdbcType=VARCHAR},
      quantity = #{row.quantity,jdbcType=INTEGER},
      remaining = #{row.remaining,jdbcType=INTEGER},
      weight = #{row.weight,jdbcType=INTEGER},
      prize_type = #{row.prizeType,jdbcType=VARCHAR},
      point_value = #{row.pointValue,jdbcType=BIGINT},
      recycle_bonus = #{row.recycleBonus,jdbcType=BIGINT},
      is_last_prize = #{row.isLastPrize,jdbcType=TINYINT},
      is_grand_prize = #{row.isGrandPrize,jdbcType=TINYINT},
      order_num = #{row.orderNum,jdbcType=INTEGER},
      created_at = #{row.createdAt,jdbcType=TIMESTAMP},
      updated_at = #{row.updatedAt,jdbcType=TIMESTAMP},
      description = #{row.description,jdbcType=LONGVARCHAR},
      content = #{row.content,jdbcType=LONGVARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update `lottery_prize`
    set id = #{row.id,jdbcType=VARCHAR},
      lottery_id = #{row.lotteryId,jdbcType=VARCHAR},
      name = #{row.name,jdbcType=VARCHAR},
      image_url = #{row.imageUrl,jdbcType=VARCHAR},
      level = #{row.level,jdbcType=VARCHAR},
      prize_number = #{row.prizeNumber,jdbcType=VARCHAR},
      quantity = #{row.quantity,jdbcType=INTEGER},
      remaining = #{row.remaining,jdbcType=INTEGER},
      weight = #{row.weight,jdbcType=INTEGER},
      prize_type = #{row.prizeType,jdbcType=VARCHAR},
      point_value = #{row.pointValue,jdbcType=BIGINT},
      recycle_bonus = #{row.recycleBonus,jdbcType=BIGINT},
      is_last_prize = #{row.isLastPrize,jdbcType=TINYINT},
      is_grand_prize = #{row.isGrandPrize,jdbcType=TINYINT},
      order_num = #{row.orderNum,jdbcType=INTEGER},
      created_at = #{row.createdAt,jdbcType=TIMESTAMP},
      updated_at = #{row.updatedAt,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.group.admin.entity.LotteryPrize">
    update `lottery_prize`
    <set>
      <if test="lotteryId != null">
        lottery_id = #{lotteryId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="prizeNumber != null">
        prize_number = #{prizeNumber,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="remaining != null">
        remaining = #{remaining,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="prizeType != null">
        prize_type = #{prizeType,jdbcType=VARCHAR},
      </if>
      <if test="pointValue != null">
        point_value = #{pointValue,jdbcType=BIGINT},
      </if>
      <if test="recycleBonus != null">
        recycle_bonus = #{recycleBonus,jdbcType=BIGINT},
      </if>
      <if test="isLastPrize != null">
        is_last_prize = #{isLastPrize,jdbcType=TINYINT},
      </if>
      <if test="isGrandPrize != null">
        is_grand_prize = #{isGrandPrize,jdbcType=TINYINT},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.group.admin.entity.LotteryPrize">
    update `lottery_prize`
    set lottery_id = #{lotteryId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      prize_number = #{prizeNumber,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      remaining = #{remaining,jdbcType=INTEGER},
      weight = #{weight,jdbcType=INTEGER},
      prize_type = #{prizeType,jdbcType=VARCHAR},
      point_value = #{pointValue,jdbcType=BIGINT},
      recycle_bonus = #{recycleBonus,jdbcType=BIGINT},
      is_last_prize = #{isLastPrize,jdbcType=TINYINT},
      is_grand_prize = #{isGrandPrize,jdbcType=TINYINT},
      order_num = #{orderNum,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=LONGVARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group.admin.entity.LotteryPrize">
    update `lottery_prize`
    set lottery_id = #{lotteryId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      prize_number = #{prizeNumber,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      remaining = #{remaining,jdbcType=INTEGER},
      weight = #{weight,jdbcType=INTEGER},
      prize_type = #{prizeType,jdbcType=VARCHAR},
      point_value = #{pointValue,jdbcType=BIGINT},
      recycle_bonus = #{recycleBonus,jdbcType=BIGINT},
      is_last_prize = #{isLastPrize,jdbcType=TINYINT},
      is_grand_prize = #{isGrandPrize,jdbcType=TINYINT},
      order_num = #{orderNum,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!-- ==================== 自訂 SQL ==================== -->

  <insert id="batchInsertPrizes" parameterType="java.util.List">
    insert into `lottery_prize` (id, lottery_id, name, image_url, level, prize_number,
      quantity, remaining, weight, prize_type, point_value, recycle_bonus, is_last_prize,
      is_grand_prize, order_num, created_at, updated_at, description, content)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.lotteryId,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR},
       #{item.imageUrl,jdbcType=VARCHAR}, #{item.level,jdbcType=VARCHAR}, #{item.prizeNumber,jdbcType=VARCHAR},
       #{item.quantity,jdbcType=INTEGER}, #{item.remaining,jdbcType=INTEGER}, #{item.weight,jdbcType=INTEGER},
       #{item.prizeType,jdbcType=VARCHAR}, #{item.pointValue,jdbcType=BIGINT}, #{item.recycleBonus,jdbcType=BIGINT},
       #{item.isLastPrize,jdbcType=TINYINT},
       #{item.isGrandPrize,jdbcType=TINYINT}, #{item.orderNum,jdbcType=INTEGER}, #{item.createdAt,jdbcType=TIMESTAMP},
       #{item.updatedAt,jdbcType=TIMESTAMP}, #{item.description,jdbcType=LONGVARCHAR}, #{item.content,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>

  <delete id="deleteByLotteryId">
    delete from `lottery_prize` where lottery_id = #{lotteryId,jdbcType=VARCHAR}
  </delete>

  <select id="selectLastPrizeByLotteryId" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    SELECT <include refid="Base_Column_List" />, <include refid="Blob_Column_List" />
    FROM `lottery_prize`
    WHERE lottery_id = #{lotteryId,jdbcType=VARCHAR}
      AND is_last_prize = 1
    LIMIT 1
  </select>

</mapper>