<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.admin.mapper.LotteryLockMapper">
  <resultMap id="BaseResultMap" type="com.group.admin.entity.LotteryLock">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="lottery_id" jdbcType="VARCHAR" property="lotteryId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="lock_start_time" jdbcType="TIMESTAMP" property="lockStartTime" />
    <result column="lock_end_time" jdbcType="TIMESTAMP" property="lockEndTime" />
    <result column="is_active" jdbcType="TINYINT" property="isActive" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, lottery_id, user_id, lock_start_time, lock_end_time, is_active, created_at
  </sql>
  <select id="selectByExample" parameterType="com.group.admin.example.LotteryLockExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from `lottery_lock`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `lottery_lock`
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from `lottery_lock`
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.group.admin.example.LotteryLockExample">
    delete from `lottery_lock`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.group.admin.entity.LotteryLock">
    insert into `lottery_lock` (id, lottery_id, user_id, 
      lock_start_time, lock_end_time, is_active, 
      created_at)
    values (#{id,jdbcType=VARCHAR}, #{lotteryId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{lockStartTime,jdbcType=TIMESTAMP}, #{lockEndTime,jdbcType=TIMESTAMP}, #{isActive,jdbcType=TINYINT}, 
      #{createdAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.group.admin.entity.LotteryLock">
    insert into `lottery_lock`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="lotteryId != null">
        lottery_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="lockStartTime != null">
        lock_start_time,
      </if>
      <if test="lockEndTime != null">
        lock_end_time,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="lotteryId != null">
        #{lotteryId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="lockStartTime != null">
        #{lockStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lockEndTime != null">
        #{lockEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.group.admin.example.LotteryLockExample" resultType="java.lang.Long">
    select count(*) from `lottery_lock`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update `lottery_lock`
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=VARCHAR},
      </if>
      <if test="row.lotteryId != null">
        lottery_id = #{row.lotteryId,jdbcType=VARCHAR},
      </if>
      <if test="row.userId != null">
        user_id = #{row.userId,jdbcType=VARCHAR},
      </if>
      <if test="row.lockStartTime != null">
        lock_start_time = #{row.lockStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.lockEndTime != null">
        lock_end_time = #{row.lockEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.isActive != null">
        is_active = #{row.isActive,jdbcType=TINYINT},
      </if>
      <if test="row.createdAt != null">
        created_at = #{row.createdAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update `lottery_lock`
    set id = #{row.id,jdbcType=VARCHAR},
      lottery_id = #{row.lotteryId,jdbcType=VARCHAR},
      user_id = #{row.userId,jdbcType=VARCHAR},
      lock_start_time = #{row.lockStartTime,jdbcType=TIMESTAMP},
      lock_end_time = #{row.lockEndTime,jdbcType=TIMESTAMP},
      is_active = #{row.isActive,jdbcType=TINYINT},
      created_at = #{row.createdAt,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.group.admin.entity.LotteryLock">
    update `lottery_lock`
    <set>
      <if test="lotteryId != null">
        lottery_id = #{lotteryId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="lockStartTime != null">
        lock_start_time = #{lockStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lockEndTime != null">
        lock_end_time = #{lockEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group.admin.entity.LotteryLock">
    update `lottery_lock`
    set lottery_id = #{lotteryId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      lock_start_time = #{lockStartTime,jdbcType=TIMESTAMP},
      lock_end_time = #{lockEndTime,jdbcType=TIMESTAMP},
      is_active = #{isActive,jdbcType=TINYINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>
