<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.admin.mapper.NewsMapper">

  <resultMap id="NewsMap" type="com.group.admin.entity.News">
    <result column="id" property="id" />
    <result column="author" property="author" />
    <result column="content" property="content" />
    <result column="createdDate" property="createdDate" />
    <result column="imageUrls" property="imageUrls" />
    <result column="newsUid" property="newsUid" />
    <result column="preview" property="preview" />
    <result column="status" property="status" />
    <result column="title" property="title" />
    <result column="updatedDate" property="updatedDate" />
    <result column="endDate" property="endDate" />
    <result column="isDisplayOnHome" property="isDisplayOnHome" />
    <result column="startDate" property="startDate" />
  </resultMap>

  <select id="selectByExample" resultMap="NewsMap" parameterType="com.group.admin.example.NewsExample">
    SELECT * FROM news
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </select>

  <select id="countByExample" resultType="long" parameterType="com.group.admin.example.NewsExample">
    SELECT COUNT(*) FROM news
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </select>

  <delete id="deleteByExample" parameterType="com.group.admin.example.NewsExample">
    DELETE FROM news
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </delete>

</mapper>
