<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.admin.mapper.OrderItemMapper">
  <resultMap id="BaseResultMap" type="com.group.admin.entity.OrderItem">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="prize_box_id" jdbcType="VARCHAR" property="prizeBoxId" />
    <result column="lottery_id" jdbcType="VARCHAR" property="lotteryId" />
    <result column="lottery_title" jdbcType="VARCHAR" property="lotteryTitle" />
    <result column="lottery_image_url" jdbcType="VARCHAR" property="lotteryImageUrl" />
    <result column="prize_id" jdbcType="VARCHAR" property="prizeId" />
    <result column="prize_name" jdbcType="VARCHAR" property="prizeName" />
    <result column="prize_grade" jdbcType="VARCHAR" property="prizeGrade" />
    <result column="prize_image" jdbcType="VARCHAR" property="prizeImage" />
    <result column="prize_image_url" jdbcType="VARCHAR" property="prizeImageUrl" />
    <result column="prize_level" jdbcType="VARCHAR" property="prizeLevel" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_id, prize_box_id, lottery_id, lottery_title, lottery_image_url, prize_id, 
    prize_name, prize_grade, prize_image, prize_image_url, prize_level, created_at
  </sql>
  <select id="selectByExample" parameterType="com.group.admin.example.OrderItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from order_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_item
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from order_item
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.group.admin.example.OrderItemExample">
    delete from order_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.group.admin.entity.OrderItem">
    insert into order_item (id, order_id, prize_box_id, 
      lottery_id, lottery_title, lottery_image_url, 
      prize_id, prize_name, prize_grade, 
      prize_image, prize_image_url, prize_level, 
      created_at)
    values (#{id,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{prizeBoxId,jdbcType=VARCHAR}, 
      #{lotteryId,jdbcType=VARCHAR}, #{lotteryTitle,jdbcType=VARCHAR}, #{lotteryImageUrl,jdbcType=VARCHAR}, 
      #{prizeId,jdbcType=VARCHAR}, #{prizeName,jdbcType=VARCHAR}, #{prizeGrade,jdbcType=VARCHAR}, 
      #{prizeImage,jdbcType=VARCHAR}, #{prizeImageUrl,jdbcType=VARCHAR}, #{prizeLevel,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.group.admin.entity.OrderItem">
    insert into order_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="prizeBoxId != null">
        prize_box_id,
      </if>
      <if test="lotteryId != null">
        lottery_id,
      </if>
      <if test="lotteryTitle != null">
        lottery_title,
      </if>
      <if test="lotteryImageUrl != null">
        lottery_image_url,
      </if>
      <if test="prizeId != null">
        prize_id,
      </if>
      <if test="prizeName != null">
        prize_name,
      </if>
      <if test="prizeGrade != null">
        prize_grade,
      </if>
      <if test="prizeImage != null">
        prize_image,
      </if>
      <if test="prizeImageUrl != null">
        prize_image_url,
      </if>
      <if test="prizeLevel != null">
        prize_level,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="prizeBoxId != null">
        #{prizeBoxId,jdbcType=VARCHAR},
      </if>
      <if test="lotteryId != null">
        #{lotteryId,jdbcType=VARCHAR},
      </if>
      <if test="lotteryTitle != null">
        #{lotteryTitle,jdbcType=VARCHAR},
      </if>
      <if test="lotteryImageUrl != null">
        #{lotteryImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="prizeId != null">
        #{prizeId,jdbcType=VARCHAR},
      </if>
      <if test="prizeName != null">
        #{prizeName,jdbcType=VARCHAR},
      </if>
      <if test="prizeGrade != null">
        #{prizeGrade,jdbcType=VARCHAR},
      </if>
      <if test="prizeImage != null">
        #{prizeImage,jdbcType=VARCHAR},
      </if>
      <if test="prizeImageUrl != null">
        #{prizeImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="prizeLevel != null">
        #{prizeLevel,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.group.admin.example.OrderItemExample" resultType="java.lang.Long">
    select count(*) from order_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order_item
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=VARCHAR},
      </if>
      <if test="row.orderId != null">
        order_id = #{row.orderId,jdbcType=VARCHAR},
      </if>
      <if test="row.prizeBoxId != null">
        prize_box_id = #{row.prizeBoxId,jdbcType=VARCHAR},
      </if>
      <if test="row.lotteryId != null">
        lottery_id = #{row.lotteryId,jdbcType=VARCHAR},
      </if>
      <if test="row.lotteryTitle != null">
        lottery_title = #{row.lotteryTitle,jdbcType=VARCHAR},
      </if>
      <if test="row.lotteryImageUrl != null">
        lottery_image_url = #{row.lotteryImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="row.prizeId != null">
        prize_id = #{row.prizeId,jdbcType=VARCHAR},
      </if>
      <if test="row.prizeName != null">
        prize_name = #{row.prizeName,jdbcType=VARCHAR},
      </if>
      <if test="row.prizeGrade != null">
        prize_grade = #{row.prizeGrade,jdbcType=VARCHAR},
      </if>
      <if test="row.prizeImage != null">
        prize_image = #{row.prizeImage,jdbcType=VARCHAR},
      </if>
      <if test="row.prizeImageUrl != null">
        prize_image_url = #{row.prizeImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="row.prizeLevel != null">
        prize_level = #{row.prizeLevel,jdbcType=VARCHAR},
      </if>
      <if test="row.createdAt != null">
        created_at = #{row.createdAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order_item
    set id = #{row.id,jdbcType=VARCHAR},
      order_id = #{row.orderId,jdbcType=VARCHAR},
      prize_box_id = #{row.prizeBoxId,jdbcType=VARCHAR},
      lottery_id = #{row.lotteryId,jdbcType=VARCHAR},
      lottery_title = #{row.lotteryTitle,jdbcType=VARCHAR},
      lottery_image_url = #{row.lotteryImageUrl,jdbcType=VARCHAR},
      prize_id = #{row.prizeId,jdbcType=VARCHAR},
      prize_name = #{row.prizeName,jdbcType=VARCHAR},
      prize_grade = #{row.prizeGrade,jdbcType=VARCHAR},
      prize_image = #{row.prizeImage,jdbcType=VARCHAR},
      prize_image_url = #{row.prizeImageUrl,jdbcType=VARCHAR},
      prize_level = #{row.prizeLevel,jdbcType=VARCHAR},
      created_at = #{row.createdAt,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.group.admin.entity.OrderItem">
    update order_item
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="prizeBoxId != null">
        prize_box_id = #{prizeBoxId,jdbcType=VARCHAR},
      </if>
      <if test="lotteryId != null">
        lottery_id = #{lotteryId,jdbcType=VARCHAR},
      </if>
      <if test="lotteryTitle != null">
        lottery_title = #{lotteryTitle,jdbcType=VARCHAR},
      </if>
      <if test="lotteryImageUrl != null">
        lottery_image_url = #{lotteryImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="prizeId != null">
        prize_id = #{prizeId,jdbcType=VARCHAR},
      </if>
      <if test="prizeName != null">
        prize_name = #{prizeName,jdbcType=VARCHAR},
      </if>
      <if test="prizeGrade != null">
        prize_grade = #{prizeGrade,jdbcType=VARCHAR},
      </if>
      <if test="prizeImage != null">
        prize_image = #{prizeImage,jdbcType=VARCHAR},
      </if>
      <if test="prizeImageUrl != null">
        prize_image_url = #{prizeImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="prizeLevel != null">
        prize_level = #{prizeLevel,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group.admin.entity.OrderItem">
    update order_item
    set order_id = #{orderId,jdbcType=VARCHAR},
      prize_box_id = #{prizeBoxId,jdbcType=VARCHAR},
      lottery_id = #{lotteryId,jdbcType=VARCHAR},
      lottery_title = #{lotteryTitle,jdbcType=VARCHAR},
      lottery_image_url = #{lotteryImageUrl,jdbcType=VARCHAR},
      prize_id = #{prizeId,jdbcType=VARCHAR},
      prize_name = #{prizeName,jdbcType=VARCHAR},
      prize_grade = #{prizeGrade,jdbcType=VARCHAR},
      prize_image = #{prizeImage,jdbcType=VARCHAR},
      prize_image_url = #{prizeImageUrl,jdbcType=VARCHAR},
      prize_level = #{prizeLevel,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>