<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.admin.mapper.PaymentOverViewMapper">

  <resultMap id="PaymentOverViewMap" type="com.group.admin.entity.PaymentOverView">
    <result column="id" property="id" />
    <result column="createDate" property="createDate" />
    <result column="lastTransactionDate" property="lastTransactionDate" />
    <result column="totalBonus" property="totalBonus" />
    <result column="totalGold" property="totalGold" />
    <result column="totalSilver" property="totalSilver" />
    <result column="totalSpentBonus" property="totalSpentBonus" />
    <result column="totalSpentGold" property="totalSpentGold" />
    <result column="totalSpentSilver" property="totalSpentSilver" />
    <result column="updateDate" property="updateDate" />
    <result column="userId" property="userId" />
  </resultMap>

  <select id="selectByExample" resultMap="PaymentOverViewMap" parameterType="com.group.admin.example.PaymentOverViewExample">
    SELECT * FROM payment_over_view
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </select>

  <select id="countByExample" resultType="long" parameterType="com.group.admin.example.PaymentOverViewExample">
    SELECT COUNT(*) FROM payment_over_view
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </select>

  <delete id="deleteByExample" parameterType="com.group.admin.example.PaymentOverViewExample">
    DELETE FROM payment_over_view
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </delete>

</mapper>
