<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.admin.mapper.PaymentCallbackLogMapper">

  <resultMap id="PaymentCallbackLogMap" type="com.group.admin.entity.PaymentCallbackLog">
    <result column="id" property="id" />
    <result column="createdAt" property="createdAt" />
    <result column="eDate" property="eDate" />
    <result column="eMoney" property="eMoney" />
    <result column="eOrderno" property="eOrderno" />
    <result column="ePayaccount" property="ePayaccount" />
    <result column="ePayInfo" property="ePayInfo" />
    <result column="eTime" property="eTime" />
    <result column="orderId" property="orderId" />
    <result column="payAmount" property="payAmount" />
    <result column="result" property="result" />
    <result column="retMsg" property="retMsg" />
    <result column="sendType" property="sendType" />
    <result column="strCheck" property="strCheck" />
  </resultMap>

  <select id="selectByExample" resultMap="PaymentCallbackLogMap" parameterType="com.group.admin.example.PaymentCallbackLogExample">
    SELECT * FROM payment_callback_log
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </select>

  <select id="countByExample" resultType="long" parameterType="com.group.admin.example.PaymentCallbackLogExample">
    SELECT COUNT(*) FROM payment_callback_log
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </select>

  <delete id="deleteByExample" parameterType="com.group.admin.example.PaymentCallbackLogExample">
    DELETE FROM payment_callback_log
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </delete>

</mapper>
