<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.admin.mapper.PrizeCartItemMapper">

  <resultMap id="PrizeCartItemMap" type="com.group.admin.entity.PrizeCartItem">
    <result column="prizeCartItemId" property="prizeCartItemId" />
    <result column="cartId" property="cartId" />
    <result column="isSelected" property="isSelected" />
    <result column="productDetailId" property="productDetailId" />
    <result column="quantity" property="quantity" />
    <result column="size" property="size" />
    <result column="sliverPrice" property="sliverPrice" />
  </resultMap>

  <select id="selectByExample" resultMap="PrizeCartItemMap" parameterType="com.group.admin.example.PrizeCartItemExample">
    SELECT * FROM prize_cart_item
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </select>

  <select id="countByExample" resultType="long" parameterType="com.group.admin.example.PrizeCartItemExample">
    SELECT COUNT(*) FROM prize_cart_item
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </select>

  <delete id="deleteByExample" parameterType="com.group.admin.example.PrizeCartItemExample">
    DELETE FROM prize_cart_item
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </delete>

</mapper>
