<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.admin.mapper.ProductRecommendationMappingMapper">

  <resultMap id="ProductRecommendationMappingMap" type="com.group.admin.entity.ProductRecommendationMapping">
    <result column="id" property="id" />
    <result column="createdDate" property="createdDate" />
    <result column="createdUser" property="createdUser" />
    <result column="storeProductId" property="storeProductId" />
    <result column="storeProductRecommendationId" property="storeProductRecommendationId" />
    <result column="updateUser" property="updateUser" />
    <result column="updatedDate" property="updatedDate" />
    <result column="productName" property="productName" />
    <result column="recommendationName" property="recommendationName" />
    <result column="productDetailId" property="productDetailId" />
    <result column="imageUrls" property="imageUrls" />
  </resultMap>

  <select id="selectByExample" resultMap="ProductRecommendationMappingMap" parameterType="com.group.admin.example.ProductRecommendationMappingExample">
    SELECT * FROM product_recommendation_mapping
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </select>

  <select id="countByExample" resultType="long" parameterType="com.group.admin.example.ProductRecommendationMappingExample">
    SELECT COUNT(*) FROM product_recommendation_mapping
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </select>

  <delete id="deleteByExample" parameterType="com.group.admin.example.ProductRecommendationMappingExample">
    DELETE FROM product_recommendation_mapping
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </delete>

</mapper>
