<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.admin.mapper.ProductMapper">

  <resultMap id="ProductMap" type="com.group.admin.entity.Product">
    <result column="productId" property="productId" />
    <result column="bonusPrice" property="bonusPrice" />
    <result column="createdAt" property="createdAt" />
    <result column="createdUser" property="createdUser" />
    <result column="description" property="description" />
    <result column="endDate" property="endDate" />
    <result column="height" property="height" />
    <result column="imageUrls" property="imageUrls" />
    <result column="length" property="length" />
    <result column="price" property="price" />
    <result column="prizeCategory" property="prizeCategory" />
    <result column="productName" property="productName" />
    <result column="productType" property="productType" />
    <result column="rarity" property="rarity" />
    <result column="size" property="size" />
    <result column="sliverPrice" property="sliverPrice" />
    <result column="specification" property="specification" />
    <result column="startDate" property="startDate" />
    <result column="status" property="status" />
    <result column="stockQuantity" property="stockQuantity" />
    <result column="updateUser" property="updateUser" />
    <result column="updatedAt" property="updatedAt" />
    <result column="width" property="width" />
    <result column="categoryId" property="categoryId" />
    <result column="bannerImageUrl" property="bannerImageUrl" />
  </resultMap>

  <select id="selectByExample" resultMap="ProductMap" parameterType="com.group.admin.example.ProductExample">
    SELECT * FROM product
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </select>

  <select id="countByExample" resultType="long" parameterType="com.group.admin.example.ProductExample">
    SELECT COUNT(*) FROM product
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </select>

  <delete id="deleteByExample" parameterType="com.group.admin.example.ProductExample">
    DELETE FROM product
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </delete>

</mapper>
