<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.admin.mapper.RedemptionCodesMapper">

  <resultMap id="RedemptionCodesMap" type="com.group.admin.entity.RedemptionCodes">
    <result column="id" property="id" />
    <result column="code" property="code" />
    <result column="isRedeemed" property="isRedeemed" />
    <result column="redeemedAt" property="redeemedAt" />
    <result column="userId" property="userId" />
    <result column="productId" property="productId" />
    <result column="productName" property="productName" />
  </resultMap>

  <select id="selectByExample" resultMap="RedemptionCodesMap" parameterType="com.group.admin.example.RedemptionCodesExample">
    SELECT * FROM redemption_codes
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </select>

  <select id="countByExample" resultType="long" parameterType="com.group.admin.example.RedemptionCodesExample">
    SELECT COUNT(*) FROM redemption_codes
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </select>

  <delete id="deleteByExample" parameterType="com.group.admin.example.RedemptionCodesExample">
    DELETE FROM redemption_codes
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </delete>

</mapper>
