<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.admin.mapper.ReportSnapshotMapper">
  <resultMap id="BaseResultMap" type="com.group.admin.entity.ReportSnapshot">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="report_type" jdbcType="VARCHAR" property="reportType" />
    <result column="period_type" jdbcType="VARCHAR" property="periodType" />
    <result column="period_start" jdbcType="DATE" property="periodStart" />
    <result column="period_end" jdbcType="DATE" property="periodEnd" />
    <result column="store_id" jdbcType="VARCHAR" property="storeId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.group.admin.entity.ReportSnapshot">
    <result column="data" jdbcType="LONGVARCHAR" property="data" />
    <result column="summary" jdbcType="LONGVARCHAR" property="summary" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, report_type, period_type, period_start, period_end, store_id, created_at
  </sql>
  <sql id="Blob_Column_List">
    data, summary
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.group.admin.example.ReportSnapshotExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from `report_snapshot`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.group.admin.example.ReportSnapshotExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from `report_snapshot`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from `report_snapshot`
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from `report_snapshot`
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.group.admin.example.ReportSnapshotExample">
    delete from `report_snapshot`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.group.admin.entity.ReportSnapshot">
    insert into `report_snapshot` (id, report_type, period_type, 
      period_start, period_end, store_id, 
      created_at, data, summary
      )
    values (#{id,jdbcType=VARCHAR}, #{reportType,jdbcType=VARCHAR}, #{periodType,jdbcType=VARCHAR}, 
      #{periodStart,jdbcType=DATE}, #{periodEnd,jdbcType=DATE}, #{storeId,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{data,jdbcType=LONGVARCHAR}, #{summary,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.group.admin.entity.ReportSnapshot">
    insert into `report_snapshot`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="reportType != null">
        report_type,
      </if>
      <if test="periodType != null">
        period_type,
      </if>
      <if test="periodStart != null">
        period_start,
      </if>
      <if test="periodEnd != null">
        period_end,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="data != null">
        data,
      </if>
      <if test="summary != null">
        summary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="reportType != null">
        #{reportType,jdbcType=VARCHAR},
      </if>
      <if test="periodType != null">
        #{periodType,jdbcType=VARCHAR},
      </if>
      <if test="periodStart != null">
        #{periodStart,jdbcType=DATE},
      </if>
      <if test="periodEnd != null">
        #{periodEnd,jdbcType=DATE},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="data != null">
        #{data,jdbcType=LONGVARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.group.admin.example.ReportSnapshotExample" resultType="java.lang.Long">
    select count(*) from `report_snapshot`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update `report_snapshot`
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=VARCHAR},
      </if>
      <if test="row.reportType != null">
        report_type = #{row.reportType,jdbcType=VARCHAR},
      </if>
      <if test="row.periodType != null">
        period_type = #{row.periodType,jdbcType=VARCHAR},
      </if>
      <if test="row.periodStart != null">
        period_start = #{row.periodStart,jdbcType=DATE},
      </if>
      <if test="row.periodEnd != null">
        period_end = #{row.periodEnd,jdbcType=DATE},
      </if>
      <if test="row.storeId != null">
        store_id = #{row.storeId,jdbcType=VARCHAR},
      </if>
      <if test="row.createdAt != null">
        created_at = #{row.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.data != null">
        data = #{row.data,jdbcType=LONGVARCHAR},
      </if>
      <if test="row.summary != null">
        summary = #{row.summary,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update `report_snapshot`
    set id = #{row.id,jdbcType=VARCHAR},
      report_type = #{row.reportType,jdbcType=VARCHAR},
      period_type = #{row.periodType,jdbcType=VARCHAR},
      period_start = #{row.periodStart,jdbcType=DATE},
      period_end = #{row.periodEnd,jdbcType=DATE},
      store_id = #{row.storeId,jdbcType=VARCHAR},
      created_at = #{row.createdAt,jdbcType=TIMESTAMP},
      data = #{row.data,jdbcType=LONGVARCHAR},
      summary = #{row.summary,jdbcType=LONGVARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update `report_snapshot`
    set id = #{row.id,jdbcType=VARCHAR},
      report_type = #{row.reportType,jdbcType=VARCHAR},
      period_type = #{row.periodType,jdbcType=VARCHAR},
      period_start = #{row.periodStart,jdbcType=DATE},
      period_end = #{row.periodEnd,jdbcType=DATE},
      store_id = #{row.storeId,jdbcType=VARCHAR},
      created_at = #{row.createdAt,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.group.admin.entity.ReportSnapshot">
    update `report_snapshot`
    <set>
      <if test="reportType != null">
        report_type = #{reportType,jdbcType=VARCHAR},
      </if>
      <if test="periodType != null">
        period_type = #{periodType,jdbcType=VARCHAR},
      </if>
      <if test="periodStart != null">
        period_start = #{periodStart,jdbcType=DATE},
      </if>
      <if test="periodEnd != null">
        period_end = #{periodEnd,jdbcType=DATE},
      </if>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="data != null">
        data = #{data,jdbcType=LONGVARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.group.admin.entity.ReportSnapshot">
    update `report_snapshot`
    set report_type = #{reportType,jdbcType=VARCHAR},
      period_type = #{periodType,jdbcType=VARCHAR},
      period_start = #{periodStart,jdbcType=DATE},
      period_end = #{periodEnd,jdbcType=DATE},
      store_id = #{storeId,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      data = #{data,jdbcType=LONGVARCHAR},
      summary = #{summary,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group.admin.entity.ReportSnapshot">
    update `report_snapshot`
    set report_type = #{reportType,jdbcType=VARCHAR},
      period_type = #{periodType,jdbcType=VARCHAR},
      period_start = #{periodStart,jdbcType=DATE},
      period_end = #{periodEnd,jdbcType=DATE},
      store_id = #{storeId,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>
