<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.admin.mapper.RoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.group.admin.entity.RoleMenu">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
    <result column="can_view" jdbcType="BIT" property="canView" />
    <result column="can_edit" jdbcType="BIT" property="canEdit" />
    <result column="can_delete" jdbcType="BIT" property="canDelete" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, role_id, menu_id, can_view, can_edit, can_delete, created_at
  </sql>
  <select id="selectByExample" parameterType="com.group.admin.example.RoleMenuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from `role_menu`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `role_menu`
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from `role_menu`
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.group.admin.example.RoleMenuExample">
    delete from `role_menu`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.group.admin.entity.RoleMenu">
    insert into `role_menu` (id, role_id, menu_id, 
      can_view, can_edit, can_delete, created_at
      )
    values (#{id,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{menuId,jdbcType=VARCHAR}, 
      #{canView,jdbcType=BIT}, #{canEdit,jdbcType=BIT}, #{canDelete,jdbcType=BIT}, #{createdAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.group.admin.entity.RoleMenu">
    insert into `role_menu`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="canView != null">
        can_view,
      </if>
      <if test="canEdit != null">
        can_edit,
      </if>
      <if test="canDelete != null">
        can_delete,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="canView != null">
        #{canView,jdbcType=BIT},
      </if>
      <if test="canEdit != null">
        #{canEdit,jdbcType=BIT},
      </if>
      <if test="canDelete != null">
        #{canDelete,jdbcType=BIT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.group.admin.example.RoleMenuExample" resultType="java.lang.Long">
    select count(*) from `role_menu`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update `role_menu`
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=VARCHAR},
      </if>
      <if test="row.roleId != null">
        role_id = #{row.roleId,jdbcType=VARCHAR},
      </if>
      <if test="row.menuId != null">
        menu_id = #{row.menuId,jdbcType=VARCHAR},
      </if>
      <if test="row.canView != null">
        can_view = #{row.canView,jdbcType=BIT},
      </if>
      <if test="row.canEdit != null">
        can_edit = #{row.canEdit,jdbcType=BIT},
      </if>
      <if test="row.canDelete != null">
        can_delete = #{row.canDelete,jdbcType=BIT},
      </if>
      <if test="row.createdAt != null">
        created_at = #{row.createdAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update `role_menu`
    set id = #{row.id,jdbcType=VARCHAR},
      role_id = #{row.roleId,jdbcType=VARCHAR},
      menu_id = #{row.menuId,jdbcType=VARCHAR},
      can_view = #{row.canView,jdbcType=BIT},
      can_edit = #{row.canEdit,jdbcType=BIT},
      can_delete = #{row.canDelete,jdbcType=BIT},
      created_at = #{row.createdAt,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.group.admin.entity.RoleMenu">
    update `role_menu`
    <set>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        menu_id = #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="canView != null">
        can_view = #{canView,jdbcType=BIT},
      </if>
      <if test="canEdit != null">
        can_edit = #{canEdit,jdbcType=BIT},
      </if>
      <if test="canDelete != null">
        can_delete = #{canDelete,jdbcType=BIT},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group.admin.entity.RoleMenu">
    update `role_menu`
    set role_id = #{roleId,jdbcType=VARCHAR},
      menu_id = #{menuId,jdbcType=VARCHAR},
      can_view = #{canView,jdbcType=BIT},
      can_edit = #{canEdit,jdbcType=BIT},
      can_delete = #{canDelete,jdbcType=BIT},
      created_at = #{createdAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!-- ===== Custom SQL (not MBG-generated) ===== -->

  <select id="selectByRoleId" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM `role_menu` WHERE role_id = #{roleId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByRoleId">
    DELETE FROM `role_menu` WHERE role_id = #{roleId,jdbcType=VARCHAR}
  </delete>

  <insert id="batchInsert">
    INSERT INTO `role_menu` (id, role_id, menu_id, can_view, can_edit, can_delete, created_at)
    VALUES
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.roleId,jdbcType=VARCHAR}, #{item.menuId,jdbcType=VARCHAR},
       #{item.canView,jdbcType=BIT}, #{item.canEdit,jdbcType=BIT}, #{item.canDelete,jdbcType=BIT}, NOW())
    </foreach>
  </insert>

</mapper>
