<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.admin.mapper.ShippingMethodMapper">

  <resultMap id="ShippingMethodMap" type="com.group.admin.entity.ShippingMethod">
    <result column="shippingMethodId" property="shippingMethodId" />
    <result column="createDate" property="createDate" />
    <result column="description" property="description" />
    <result column="name" property="name" />
    <result column="shippingCode" property="shippingCode" />
    <result column="shippingPrice" property="shippingPrice" />
    <result column="size" property="size" />
    <result column="status" property="status" />
    <result column="updateDate" property="updateDate" />
    <result column="maxSize" property="maxSize" />
    <result column="minSize" property="minSize" />
    <result column="code" property="code" />
  </resultMap>

  <select id="selectByExample" resultMap="ShippingMethodMap" parameterType="com.group.admin.example.ShippingMethodExample">
    SELECT * FROM shipping_method
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </select>

  <select id="countByExample" resultType="long" parameterType="com.group.admin.example.ShippingMethodExample">
    SELECT COUNT(*) FROM shipping_method
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </select>

  <delete id="deleteByExample" parameterType="com.group.admin.example.ShippingMethodExample">
    DELETE FROM shipping_method
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </delete>

</mapper>
