<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.admin.mapper.StoreProductMapper">

  <resultMap id="StoreProductMap" type="com.group.admin.entity.StoreProduct">
    <result column="storeProductId" property="storeProductId" />
    <result column="categoryId" property="categoryId" />
    <result column="createdAt" property="createdAt" />
    <result column="createdUserId" property="createdUserId" />
    <result column="description" property="description" />
    <result column="details" property="details" />
    <result column="height" property="height" />
    <result column="imageUrls" property="imageUrls" />
    <result column="isSpecialPrice" property="isSpecialPrice" />
    <result column="length" property="length" />
    <result column="popularity" property="popularity" />
    <result column="price" property="price" />
    <result column="productCode" property="productCode" />
    <result column="productName" property="productName" />
    <result column="shippingMethod" property="shippingMethod" />
    <result column="shippingPrice" property="shippingPrice" />
    <result column="size" property="size" />
    <result column="soldQuantity" property="soldQuantity" />
    <result column="specialPrice" property="specialPrice" />
    <result column="specification" property="specification" />
    <result column="status" property="status" />
    <result column="stockQuantity" property="stockQuantity" />
    <result column="updateUserId" property="updateUserId" />
    <result column="updatedAt" property="updatedAt" />
    <result column="width" property="width" />
    <result column="createdUser" property="createdUser" />
    <result column="updateUser" property="updateUser" />
  </resultMap>

  <select id="selectByExample" resultMap="StoreProductMap" parameterType="com.group.admin.example.StoreProductExample">
    SELECT * FROM store_product
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </select>

  <select id="countByExample" resultType="long" parameterType="com.group.admin.example.StoreProductExample">
    SELECT COUNT(*) FROM store_product
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </select>

  <delete id="deleteByExample" parameterType="com.group.admin.example.StoreProductExample">
    DELETE FROM store_product
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </delete>

</mapper>
