<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.admin.mapper.StoreProductRecommendationMapper">

  <resultMap id="StoreProductRecommendationMap" type="com.group.admin.entity.StoreProductRecommendation">
    <result column="id" property="id" />
    <result column="createdDate" property="createdDate" />
    <result column="createdUser" property="createdUser" />
    <result column="recommendationName" property="recommendationName" />
    <result column="updateUser" property="updateUser" />
    <result column="updatedDate" property="updatedDate" />
    <result column="productDetailId" property="productDetailId" />
  </resultMap>

  <select id="selectByExample" resultMap="StoreProductRecommendationMap" parameterType="com.group.admin.example.StoreProductRecommendationExample">
    SELECT * FROM store_product_recommendation
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </select>

  <select id="countByExample" resultType="long" parameterType="com.group.admin.example.StoreProductRecommendationExample">
    SELECT COUNT(*) FROM store_product_recommendation
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </select>

  <delete id="deleteByExample" parameterType="com.group.admin.example.StoreProductRecommendationExample">
    DELETE FROM store_product_recommendation
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </delete>

</mapper>
