<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.admin.mapper.UserPasswordResetLogMapper">

  <resultMap id="UserPasswordResetLogMap" type="com.group.admin.entity.UserPasswordResetLog">
    <result column="id" property="id" />
    <result column="resetTime" property="resetTime" />
    <result column="resetToken" property="resetToken" />
    <result column="tokenExpiry" property="tokenExpiry" />
    <result column="userId" property="userId" />
  </resultMap>

  <select id="selectByExample" resultMap="UserPasswordResetLogMap" parameterType="com.group.admin.example.UserPasswordResetLogExample">
    SELECT * FROM user_password_reset_log
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </select>

  <select id="countByExample" resultType="long" parameterType="com.group.admin.example.UserPasswordResetLogExample">
    SELECT COUNT(*) FROM user_password_reset_log
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </select>

  <delete id="deleteByExample" parameterType="com.group.admin.example.UserPasswordResetLogExample">
    DELETE FROM user_password_reset_log
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </delete>

</mapper>
