<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.admin.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.group.admin.entity.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="provider" jdbcType="VARCHAR" property="provider" />
    <result column="provider_id" jdbcType="VARCHAR" property="providerId" />
    <result column="gold_coins" jdbcType="BIGINT" property="goldCoins" />
    <result column="bonus_coins" jdbcType="BIGINT" property="bonusCoins" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="email_verified" jdbcType="TINYINT" property="emailVerified" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="line_id" jdbcType="VARCHAR" property="lineId" />
    <result column="recipient_name" jdbcType="VARCHAR" property="recipientName" />
    <result column="recipient_phone" jdbcType="VARCHAR" property="recipientPhone" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="address_detail" jdbcType="VARCHAR" property="addressDetail" />
    <result column="invoice_type" jdbcType="VARCHAR" property="invoiceType" />
    <result column="invoice_email" jdbcType="VARCHAR" property="invoiceEmail" />
    <result column="carrier_code" jdbcType="VARCHAR" property="carrierCode" />
    <result column="tax_id" jdbcType="VARCHAR" property="taxId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="referral_code" jdbcType="VARCHAR" property="referralCode" />
    <result column="referred_store_id" jdbcType="VARCHAR" property="referredStoreId" />
    <result column="email_verification_token" jdbcType="VARCHAR" property="emailVerificationToken" />
    <result column="email_verification_expires" jdbcType="TIMESTAMP" property="emailVerificationExpires" />
    <result column="password_reset_token" jdbcType="VARCHAR" property="passwordResetToken" />
    <result column="password_reset_expires" jdbcType="TIMESTAMP" property="passwordResetExpires" />
    <result column="last_login_at" jdbcType="TIMESTAMP" property="lastLoginAt" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="total_recharged" jdbcType="BIGINT" property="totalRecharged" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, email, nickname, password, avatar, provider, provider_id, gold_coins, bonus_coins, 
    status, email_verified, phone_number, line_id, recipient_name, recipient_phone, city, 
    district, address_detail, invoice_type, invoice_email, carrier_code, tax_id, company_name, 
    referral_code, referred_store_id, email_verification_token, email_verification_expires, 
    password_reset_token, password_reset_expires, last_login_at, created_at, updated_at, 
    total_recharged, version
  </sql>
  <select id="selectByExample" parameterType="com.group.admin.example.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from `user`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `user`
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from `user`
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.group.admin.example.UserExample">
    delete from `user`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.group.admin.entity.User">
    insert into `user` (id, email, nickname, 
      password, avatar, provider, 
      provider_id, gold_coins, bonus_coins, 
      status, email_verified, phone_number, 
      line_id, recipient_name, recipient_phone, 
      city, district, address_detail, 
      invoice_type, invoice_email, carrier_code, 
      tax_id, company_name, referral_code, 
      referred_store_id, email_verification_token, 
      email_verification_expires, password_reset_token, 
      password_reset_expires, last_login_at, 
      created_at, updated_at, total_recharged, 
      version)
    values (#{id,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, #{provider,jdbcType=VARCHAR}, 
      #{providerId,jdbcType=VARCHAR}, #{goldCoins,jdbcType=BIGINT}, #{bonusCoins,jdbcType=BIGINT}, 
      #{status,jdbcType=VARCHAR}, #{emailVerified,jdbcType=TINYINT}, #{phoneNumber,jdbcType=VARCHAR}, 
      #{lineId,jdbcType=VARCHAR}, #{recipientName,jdbcType=VARCHAR}, #{recipientPhone,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{addressDetail,jdbcType=VARCHAR}, 
      #{invoiceType,jdbcType=VARCHAR}, #{invoiceEmail,jdbcType=VARCHAR}, #{carrierCode,jdbcType=VARCHAR}, 
      #{taxId,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{referralCode,jdbcType=VARCHAR}, 
      #{referredStoreId,jdbcType=VARCHAR}, #{emailVerificationToken,jdbcType=VARCHAR}, 
      #{emailVerificationExpires,jdbcType=TIMESTAMP}, #{passwordResetToken,jdbcType=VARCHAR}, 
      #{passwordResetExpires,jdbcType=TIMESTAMP}, #{lastLoginAt,jdbcType=TIMESTAMP}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{totalRecharged,jdbcType=BIGINT}, 
      #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.group.admin.entity.User">
    insert into `user`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="provider != null">
        provider,
      </if>
      <if test="providerId != null">
        provider_id,
      </if>
      <if test="goldCoins != null">
        gold_coins,
      </if>
      <if test="bonusCoins != null">
        bonus_coins,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="emailVerified != null">
        email_verified,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="lineId != null">
        line_id,
      </if>
      <if test="recipientName != null">
        recipient_name,
      </if>
      <if test="recipientPhone != null">
        recipient_phone,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="district != null">
        district,
      </if>
      <if test="addressDetail != null">
        address_detail,
      </if>
      <if test="invoiceType != null">
        invoice_type,
      </if>
      <if test="invoiceEmail != null">
        invoice_email,
      </if>
      <if test="carrierCode != null">
        carrier_code,
      </if>
      <if test="taxId != null">
        tax_id,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="referralCode != null">
        referral_code,
      </if>
      <if test="referredStoreId != null">
        referred_store_id,
      </if>
      <if test="emailVerificationToken != null">
        email_verification_token,
      </if>
      <if test="emailVerificationExpires != null">
        email_verification_expires,
      </if>
      <if test="passwordResetToken != null">
        password_reset_token,
      </if>
      <if test="passwordResetExpires != null">
        password_reset_expires,
      </if>
      <if test="lastLoginAt != null">
        last_login_at,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="totalRecharged != null">
        total_recharged,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="provider != null">
        #{provider,jdbcType=VARCHAR},
      </if>
      <if test="providerId != null">
        #{providerId,jdbcType=VARCHAR},
      </if>
      <if test="goldCoins != null">
        #{goldCoins,jdbcType=BIGINT},
      </if>
      <if test="bonusCoins != null">
        #{bonusCoins,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="emailVerified != null">
        #{emailVerified,jdbcType=TINYINT},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="lineId != null">
        #{lineId,jdbcType=VARCHAR},
      </if>
      <if test="recipientName != null">
        #{recipientName,jdbcType=VARCHAR},
      </if>
      <if test="recipientPhone != null">
        #{recipientPhone,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null">
        #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="invoiceType != null">
        #{invoiceType,jdbcType=VARCHAR},
      </if>
      <if test="invoiceEmail != null">
        #{invoiceEmail,jdbcType=VARCHAR},
      </if>
      <if test="carrierCode != null">
        #{carrierCode,jdbcType=VARCHAR},
      </if>
      <if test="taxId != null">
        #{taxId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="referralCode != null">
        #{referralCode,jdbcType=VARCHAR},
      </if>
      <if test="referredStoreId != null">
        #{referredStoreId,jdbcType=VARCHAR},
      </if>
      <if test="emailVerificationToken != null">
        #{emailVerificationToken,jdbcType=VARCHAR},
      </if>
      <if test="emailVerificationExpires != null">
        #{emailVerificationExpires,jdbcType=TIMESTAMP},
      </if>
      <if test="passwordResetToken != null">
        #{passwordResetToken,jdbcType=VARCHAR},
      </if>
      <if test="passwordResetExpires != null">
        #{passwordResetExpires,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginAt != null">
        #{lastLoginAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="totalRecharged != null">
        #{totalRecharged,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.group.admin.example.UserExample" resultType="java.lang.Long">
    select count(*) from `user`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update `user`
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=VARCHAR},
      </if>
      <if test="row.email != null">
        email = #{row.email,jdbcType=VARCHAR},
      </if>
      <if test="row.nickname != null">
        nickname = #{row.nickname,jdbcType=VARCHAR},
      </if>
      <if test="row.password != null">
        password = #{row.password,jdbcType=VARCHAR},
      </if>
      <if test="row.avatar != null">
        avatar = #{row.avatar,jdbcType=VARCHAR},
      </if>
      <if test="row.provider != null">
        provider = #{row.provider,jdbcType=VARCHAR},
      </if>
      <if test="row.providerId != null">
        provider_id = #{row.providerId,jdbcType=VARCHAR},
      </if>
      <if test="row.goldCoins != null">
        gold_coins = #{row.goldCoins,jdbcType=BIGINT},
      </if>
      <if test="row.bonusCoins != null">
        bonus_coins = #{row.bonusCoins,jdbcType=BIGINT},
      </if>
      <if test="row.status != null">
        status = #{row.status,jdbcType=VARCHAR},
      </if>
      <if test="row.emailVerified != null">
        email_verified = #{row.emailVerified,jdbcType=TINYINT},
      </if>
      <if test="row.phoneNumber != null">
        phone_number = #{row.phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="row.lineId != null">
        line_id = #{row.lineId,jdbcType=VARCHAR},
      </if>
      <if test="row.recipientName != null">
        recipient_name = #{row.recipientName,jdbcType=VARCHAR},
      </if>
      <if test="row.recipientPhone != null">
        recipient_phone = #{row.recipientPhone,jdbcType=VARCHAR},
      </if>
      <if test="row.city != null">
        city = #{row.city,jdbcType=VARCHAR},
      </if>
      <if test="row.district != null">
        district = #{row.district,jdbcType=VARCHAR},
      </if>
      <if test="row.addressDetail != null">
        address_detail = #{row.addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="row.invoiceType != null">
        invoice_type = #{row.invoiceType,jdbcType=VARCHAR},
      </if>
      <if test="row.invoiceEmail != null">
        invoice_email = #{row.invoiceEmail,jdbcType=VARCHAR},
      </if>
      <if test="row.carrierCode != null">
        carrier_code = #{row.carrierCode,jdbcType=VARCHAR},
      </if>
      <if test="row.taxId != null">
        tax_id = #{row.taxId,jdbcType=VARCHAR},
      </if>
      <if test="row.companyName != null">
        company_name = #{row.companyName,jdbcType=VARCHAR},
      </if>
      <if test="row.referralCode != null">
        referral_code = #{row.referralCode,jdbcType=VARCHAR},
      </if>
      <if test="row.referredStoreId != null">
        referred_store_id = #{row.referredStoreId,jdbcType=VARCHAR},
      </if>
      <if test="row.emailVerificationToken != null">
        email_verification_token = #{row.emailVerificationToken,jdbcType=VARCHAR},
      </if>
      <if test="row.emailVerificationExpires != null">
        email_verification_expires = #{row.emailVerificationExpires,jdbcType=TIMESTAMP},
      </if>
      <if test="row.passwordResetToken != null">
        password_reset_token = #{row.passwordResetToken,jdbcType=VARCHAR},
      </if>
      <if test="row.passwordResetExpires != null">
        password_reset_expires = #{row.passwordResetExpires,jdbcType=TIMESTAMP},
      </if>
      <if test="row.lastLoginAt != null">
        last_login_at = #{row.lastLoginAt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.createdAt != null">
        created_at = #{row.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.updatedAt != null">
        updated_at = #{row.updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="row.totalRecharged != null">
        total_recharged = #{row.totalRecharged,jdbcType=BIGINT},
      </if>
      <if test="row.version != null">
        version = #{row.version,jdbcType=INTEGER},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update `user`
    set id = #{row.id,jdbcType=VARCHAR},
      email = #{row.email,jdbcType=VARCHAR},
      nickname = #{row.nickname,jdbcType=VARCHAR},
      password = #{row.password,jdbcType=VARCHAR},
      avatar = #{row.avatar,jdbcType=VARCHAR},
      provider = #{row.provider,jdbcType=VARCHAR},
      provider_id = #{row.providerId,jdbcType=VARCHAR},
      gold_coins = #{row.goldCoins,jdbcType=BIGINT},
      bonus_coins = #{row.bonusCoins,jdbcType=BIGINT},
      status = #{row.status,jdbcType=VARCHAR},
      email_verified = #{row.emailVerified,jdbcType=TINYINT},
      phone_number = #{row.phoneNumber,jdbcType=VARCHAR},
      line_id = #{row.lineId,jdbcType=VARCHAR},
      recipient_name = #{row.recipientName,jdbcType=VARCHAR},
      recipient_phone = #{row.recipientPhone,jdbcType=VARCHAR},
      city = #{row.city,jdbcType=VARCHAR},
      district = #{row.district,jdbcType=VARCHAR},
      address_detail = #{row.addressDetail,jdbcType=VARCHAR},
      invoice_type = #{row.invoiceType,jdbcType=VARCHAR},
      invoice_email = #{row.invoiceEmail,jdbcType=VARCHAR},
      carrier_code = #{row.carrierCode,jdbcType=VARCHAR},
      tax_id = #{row.taxId,jdbcType=VARCHAR},
      company_name = #{row.companyName,jdbcType=VARCHAR},
      referral_code = #{row.referralCode,jdbcType=VARCHAR},
      referred_store_id = #{row.referredStoreId,jdbcType=VARCHAR},
      email_verification_token = #{row.emailVerificationToken,jdbcType=VARCHAR},
      email_verification_expires = #{row.emailVerificationExpires,jdbcType=TIMESTAMP},
      password_reset_token = #{row.passwordResetToken,jdbcType=VARCHAR},
      password_reset_expires = #{row.passwordResetExpires,jdbcType=TIMESTAMP},
      last_login_at = #{row.lastLoginAt,jdbcType=TIMESTAMP},
      created_at = #{row.createdAt,jdbcType=TIMESTAMP},
      updated_at = #{row.updatedAt,jdbcType=TIMESTAMP},
      total_recharged = #{row.totalRecharged,jdbcType=BIGINT},
      version = #{row.version,jdbcType=INTEGER}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.group.admin.entity.User">
    update `user`
    <set>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="provider != null">
        provider = #{provider,jdbcType=VARCHAR},
      </if>
      <if test="providerId != null">
        provider_id = #{providerId,jdbcType=VARCHAR},
      </if>
      <if test="goldCoins != null">
        gold_coins = #{goldCoins,jdbcType=BIGINT},
      </if>
      <if test="bonusCoins != null">
        bonus_coins = #{bonusCoins,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="emailVerified != null">
        email_verified = #{emailVerified,jdbcType=TINYINT},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="lineId != null">
        line_id = #{lineId,jdbcType=VARCHAR},
      </if>
      <if test="recipientName != null">
        recipient_name = #{recipientName,jdbcType=VARCHAR},
      </if>
      <if test="recipientPhone != null">
        recipient_phone = #{recipientPhone,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null">
        address_detail = #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="invoiceType != null">
        invoice_type = #{invoiceType,jdbcType=VARCHAR},
      </if>
      <if test="invoiceEmail != null">
        invoice_email = #{invoiceEmail,jdbcType=VARCHAR},
      </if>
      <if test="carrierCode != null">
        carrier_code = #{carrierCode,jdbcType=VARCHAR},
      </if>
      <if test="taxId != null">
        tax_id = #{taxId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="referralCode != null">
        referral_code = #{referralCode,jdbcType=VARCHAR},
      </if>
      <if test="referredStoreId != null">
        referred_store_id = #{referredStoreId,jdbcType=VARCHAR},
      </if>
      <if test="emailVerificationToken != null">
        email_verification_token = #{emailVerificationToken,jdbcType=VARCHAR},
      </if>
      <if test="emailVerificationExpires != null">
        email_verification_expires = #{emailVerificationExpires,jdbcType=TIMESTAMP},
      </if>
      <if test="passwordResetToken != null">
        password_reset_token = #{passwordResetToken,jdbcType=VARCHAR},
      </if>
      <if test="passwordResetExpires != null">
        password_reset_expires = #{passwordResetExpires,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginAt != null">
        last_login_at = #{lastLoginAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="totalRecharged != null">
        total_recharged = #{totalRecharged,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group.admin.entity.User">
    update `user`
    set email = #{email,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      provider = #{provider,jdbcType=VARCHAR},
      provider_id = #{providerId,jdbcType=VARCHAR},
      gold_coins = #{goldCoins,jdbcType=BIGINT},
      bonus_coins = #{bonusCoins,jdbcType=BIGINT},
      status = #{status,jdbcType=VARCHAR},
      email_verified = #{emailVerified,jdbcType=TINYINT},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      line_id = #{lineId,jdbcType=VARCHAR},
      recipient_name = #{recipientName,jdbcType=VARCHAR},
      recipient_phone = #{recipientPhone,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      address_detail = #{addressDetail,jdbcType=VARCHAR},
      invoice_type = #{invoiceType,jdbcType=VARCHAR},
      invoice_email = #{invoiceEmail,jdbcType=VARCHAR},
      carrier_code = #{carrierCode,jdbcType=VARCHAR},
      tax_id = #{taxId,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      referral_code = #{referralCode,jdbcType=VARCHAR},
      referred_store_id = #{referredStoreId,jdbcType=VARCHAR},
      email_verification_token = #{emailVerificationToken,jdbcType=VARCHAR},
      email_verification_expires = #{emailVerificationExpires,jdbcType=TIMESTAMP},
      password_reset_token = #{passwordResetToken,jdbcType=VARCHAR},
      password_reset_expires = #{passwordResetExpires,jdbcType=TIMESTAMP},
      last_login_at = #{lastLoginAt,jdbcType=TIMESTAMP},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      total_recharged = #{totalRecharged,jdbcType=BIGINT},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateBalanceWithVersion">
    UPDATE `user`
    SET gold_coins = #{goldCoins},
        bonus_coins = #{bonusCoins},
        total_recharged = #{totalRecharged},
        version = version + 1,
        updated_at = NOW()
    WHERE id = #{userId}
      AND version = #{version}
  </update>
</mapper>