<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.admin.mapper.UserUpdateLogMapper">

  <resultMap id="UserUpdateLogMap" type="com.group.admin.entity.UserUpdateLog">
    <result column="id" property="id" />
    <result column="userIds" property="userIds" />
    <result column="sliverCoinDelta" property="sliverCoinDelta" />
    <result column="bonusDelta" property="bonusDelta" />
    <result column="updateTime" property="updateTime" />
    <result column="operator" property="operator" />
    <result column="createdAt" property="createdAt" />
    <result column="balance" property="balance" />
  </resultMap>

  <select id="selectByExample" resultMap="UserUpdateLogMap" parameterType="com.group.admin.example.UserUpdateLogExample">
    SELECT * FROM user_update_log
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </select>

  <select id="countByExample" resultType="long" parameterType="com.group.admin.example.UserUpdateLogExample">
    SELECT COUNT(*) FROM user_update_log
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </select>

  <delete id="deleteByExample" parameterType="com.group.admin.example.UserUpdateLogExample">
    DELETE FROM user_update_log
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.conditions.size() > 0">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.conditions.entrySet()" item="entry" index="key">
              and ${key} = #{entry.value}
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </delete>

</mapper>
